.message-modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 30vw;
  height: 30vh;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  z-index: 1000;
  display: none;
}

.message-modal-title {
  font-size: 2rem;
}

.message-modal-content {
  font-size: 1.4rem;
}

.message-modal-active {
  display: block;
}

.message-modal-button {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.message-modal-error-button {
  background-color: red;
}
