body {
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.hamburger {
  position: fixed;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: min-content;
  padding: 5px;
  padding-top: 15px;
  z-index: 999;
}

.hamburger span {
  width: 30px;
  height: 5px;
  margin-bottom: 4px;
  background-color: black;
  border-radius: 3px;
}

.sidebar-inactive {
  display: none;
}

.sidebar-active {
  position: fixed;
  width: 30vw;
  height: 100vh;
  padding-top: 70px;
  background-color: black;
  z-index: 998;
}

.menu {
  width: 100%;
  color: white;
}

.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  color: white;
}

.hamburger-active span {
  background-color: white;
}

.game-board {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 996;
}

.letter-grid-row {
  display: flex;
}

.game-letter-div {
  background-color: black;
  display: flex;
  font-size: 1.3rem;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px white solid;
  width: 5.5vh;
  height: 5.5vh;
  user-select: none;
}

.shadow {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 0;
  z-index: 990;
}

.shadow-on {
  opacity: 60%;
  z-index: 997;
}
